footer {
    font-family: $font-roboto;
    font-weight: $regular;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    color: $black;
    p {
        font-size: 15px;
    }
   .copyright {
        font-size: 14px;
        padding-bottom: 23px;
    }
    .icons{
        margin-top: 24px;
        margin-bottom: 47.8px;
        display: flex;
        justify-content: center;
        column-gap: 6%;
    }
}