footer {
    font-family: $font-roboto;
    font-weight: $regular;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    color: $third-color;
    height: 196px;

    p {
        font-size: 15px;
    }

    div {
        font-size: 14px;
    }
}