footer {
    font-family: $font-roboto;
    font-weight: $regular;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    color: $blackcolor;
    

    p {
        font-size: 15px;
    }

    div {
        font-size: 14px;
        padding-bottom: 23px;
    }
}