nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 95px;
    align-items: center;
    
    .logo-mobile {
        padding-left: 5.9%;
        height: 48.8px;
        width: 48.8px;
    }
    .menu-burger {
        padding-right: 6.9%;
    }
}

ul {
    display: none;
}