.trending{
    margin-top: 123px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    background-color: $trending-bg;
    p{
        margin-top: 0.6%;
        font-family: $font-roboto;
        font-weight: $regular;
        line-height: 23px;
        color: $black;
        font-size: 16px;
        text-align: center;
        span{
            display: block;
        }
    }
}

@include for-desktop{
    .trending{
        margin-top: 6.5%;
        font-size: 30px;
        p{
            font-size: 18px;
            span{
                display: none;
            }
        }
    }
}