$primarycolor: #572EE5;
$secondarycolor: #5ED7C6;
$black: #000000;
$white: #ffffff;
$dark-background:#37383C;
$active-color: #9CAFC3;
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto:'Roboto', sans-serif;
$regular:400;
$medium:500;
$bold:700;
$fw-black:900;
$trending-bg: #F3F5F8;
$trending-bg-dark: #222326;

@mixin icon-bg($path) {
  background-image: url($path);
  background-repeat: no-repeat;
  background-position: center;
}