.navbar {
  .menu-icon {
    padding-right: 13%;

    .nav-icon {
      background: $primarycolor;
      display: inline-block;
      width: 1.125em;
      height: 2px;
      position: absolute;
      text-align: center;
      transition: background 0.5s ease-out;

      &::before,
      &::after {
        background-color: $primarycolor;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
      }

      &::after {
        top: -5px;
      }

      &::before {
        top: 5px;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $primarycolor;
    opacity: 0.9;
    color: $white;
    height: 0;
    width: 100%;
    margin-top: 17px;
    transition: height 0.5s ease;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    top: 75px;
    align-self: stretch;

    li {
      line-height: 60px;
      font-size: 15px;

      &:first-child {
        padding-top: 17px;
      }

      &:last-child {
        display: none;
      }
      a{
        color: $white;
      }

      .line {
        position: relative;
        margin: 0 auto;
        opacity: 0.5;
        width: 41px;
        height: 1px;
        background-color: $white;
      }
    }
  }

  .nav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 95px;
    align-items: center;

    .menu-btn {
      display: none;

      &:checked~.menu {
        height: 484px;
      }

      &:checked~.menu-icon .nav-icon {
        transform: translateX(-50px);
        background: transparent;
      }

      &:checked~.menu-icon .nav-icon::before {
        transform: rotate(-45deg) translate(38px, 38px);
        top: 0;
      }

      &:checked~.menu-icon .nav-icon::after {
        transform: rotate(45deg) translate(38px, -38px);
        top: 0;
      }
    }
    #logo-link{
      .logo-text {
        color: $primarycolor; 
        position: absolute;
        padding-left: 7%;
        padding-top: 5%;
        z-index: 4;
        font-family: $font-roboto;
        font-weight: $fw-black;
        line-height: 19px;
      }
      .logo-mobile {
        margin-left: 45%;
        height: 48.8px;
        width: 48.8px;
        z-index: 4;
      }
  
      .logo-desktop {
        display: none;
        z-index: 4;
      }
    }
  }
}

@include for-desktop {
  .navbar {
    position: fixed;
    top: 5px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 95px;
    z-index: 4;
    background-color: $white;
    .menu-icon {
      .nav-icon {
        display: none;
      }
    }

    .menu {
      flex-flow: row wrap;
      justify-content: flex-end;
      background-color: transparent;
      height: auto;
      margin-top: 0;
      top: 2.4%;
      text-transform: uppercase;
      color: $primarycolor;

      li {
        font-size: 13px;
        line-height: auto;
        &:first-child {
          padding-top: 0px;
          margin-right: 3%;
        }

        &:nth-child(2) {
          margin-right: 3.5%;
        }

        &:last-child {
          display: block;
        }
        &:hover{
          // text-decoration-thickness soportada únicamente por Firefox, propiedad aún no definida
          text-decoration: underline solid $secondarycolor;
        }
        &:active{
          text-decoration: none;
          color: $active-color;
        }
        a {
          color: $primarycolor;
        letter-spacing: 0;
        font-size: 13px;
          &:hover{
            text-decoration: underline solid $secondarycolor;
          }
          &:active{
            text-decoration: none;
            color: $active-color;
          }
        }
        

        .line {
          display: none;
        }
      }
    }

    .nav-container {
      height: 90px;
      position: relative;
      margin-top: 12px;
      #input-container-nav{
        display: none;
        position: absolute;
        z-index: 5;
        margin-left: 30%;
        width: 23.2%;
        margin-left: 23.8%;
        transition: all 0.5s ease-in-out;
        border: 1px solid $primarycolor;
        border-radius: 27px;
        .search-box{
          margin-left: 15%;
          border: none;
          color: $active-color;
        }
      }
      #logo-link{
        .logo-text {
          margin-left: 4.5%;
          padding-top: 1.7%;
          font-size: 18px;
          line-height: 21px;
        }
        .logo-mobile {
          display: none;
        }
  
        .logo-desktop {
          position: relative;
          display: block;
          margin-left: 266%;
          width: 59.1px;
          height: 59.1px;
        }
      }
    }
  }
  .sticky {
    box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
  }
}