.card{
    background-color: $primarycolor;
    opacity: 1;
    transition: all 0.5s ease;
    &:hover{
        opacity: 0.7;
    }
    .card-icons{
        margin-top: 10px;
        border: none;
        display: flex;
        justify-content: flex-end;
        gap: 11px;
        .card-btn{
            display: none;
            width: 32px;
            height: 32px;
            opacity: 0.7;
            border-radius: 6px;
            &:hover{
                opacity: 1;
            }
        }
        .favorite-btn{
            @include icon-bg('/Prototype/img/icon-fav-hover.svg');
            &:active{
                background-image: url('/Prototype/img/icon-fav-active.svg');
            }
        }
        
        .download-btn{
            @include icon-bg('/Prototype/img/icon-download.svg');
        }
        
        .gif-max-size{
            @include icon-bg('/Prototype/img/icon-max.svg');
            margin-right: 11px;
        }
    }
    .gif-info{
        flex-flow: column;
        align-items: flex-start;
        margin-top: 100px;
        margin-left: 13px;
        font-family: $font-roboto;
        color: $white;
        display: none;
        .user{
            font-weight: $regular;
            font-size: 15px;
            margin-bottom: 5px;
        }
        .gifo-title{
            font-weight: $bold;
            font-size: 16px;
        }
    }
}

@include for-desktop{
    .card{
        opacity: 0;
        .card-icons{
            .card-btn{
                display: block;
            }
        }
        .gif-info{
            display: flex;
        }
    }
}