.carousel-btn {
  display: flex;
  .btn {
    width: 40px;
    height: 40px;
    border: 1px solid $primarycolor;
    &:hover{
        background-color: $primarycolor;
    }
  }
  .previous {
    @include icon-bg("/Prototype/img/button-left.svg");
&:hover{
    background-image: url("/Prototype/img/button-left-hover.svg");
}
  }
  .next {
    @include icon-bg("/Prototype/img/button-right.svg");
    &:hover{
        background-image: url("/Prototype/img/button-right-hover.svg");
    }
  }
}
