@charset "UTF-8";
@import "vendors/_resetcss.scss";
@import "vendors/_normalize.scss";
body {
    font-size: 16px;
}

hr {
    background-color: #572EE5;
    width: 100%;
    height: 5px;
    position: fixed;
}

@import "layout/nav";