@charset "UTF-8";
@import "vendors/_resetcss.scss";
@import "vendors/_normalize.scss";
@import"abstracts/variables";
body {
    a{
        text-decoration: none;
        color: $white;
        cursor: pointer;
      }
      li{
          cursor: pointer;
      }
    font-size: 16px;
    font-family: $font-montserrat;
    font-weight: $bold;
    color:$primarycolor;
    hr {
        background-color: $primarycolor;
        width: 100%;
        height: 5px;
        position: sticky;
        margin: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        border: 0;
    }
}

// Mixin desktop
@import "abstracts/mixins";

// Estilos para hover y active de botón para crear GIF
@import "components/button";

// Estilos de cards para gifs
@import "components/card";

// Estilos para GIFO max size
@import "components/gifo_max";

// Estilos para botones de carrusel
@import "components/carousel_button";

// Mensaje al no encontrar resultados en secciones Búsqueda, Favoritos y Mis GIFOS
@import "components/notfound";

// Componentes de caja de búsqueda
@import "components/box";
@import "components/search_box";

// Secciones fijas de layout
@import "layout/nav";
@import "layout/header";
@import "layout/footer";

// Main incluye secciones Favoritos, Mis GIFOS y Trendings
@import "pages/main";



// Tema Modo Oscuro
@import "themes/dark_theme"